<mat-sidenav-container class="sidenav-container">

    <!-- SIDENAV -->

    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
            <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
            <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle SideNavBar" type="button" mat-icon-button
            *ngIf="isHandset$|async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="logo" routerLink="/" >🔥 Angular Interactive KanBan </span>
        <span class="fill-space"></span>
        <div *ngIf="!(isHandset$ | async)">
            <a mat-button routerLink="/login">Login</a>
            <a mat-button routerLink="/kanban">Kanban</a>
        </div>
    </mat-toolbar>
    <ng-content></ng-content>
</mat-sidenav-container>