<div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="boards"
    (cdkDropListDropped)="drop($event)"
    *ngIf=" boardArr && boardArr.length"
>
    <app-board cdkDrag *ngFor="let board of boardArr" [board]="board">
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
    </app-board>
</div>
<div class="board-button">
    <button
        mat-raised-button
        color="accent"
        cdkDragDisabled
        (click)="openBoardDialog()"
    >
        New Board
    </button>
</div>