.boards {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px
  }
  &::-webkit-scrollbar-track {
//    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;
  }
  &::-webkit-scrollbar {
    width: 3px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border: 2px solid #555555;
  }
  
  .handle {
    position: relative;
    top: 5px;
    left: 0;
    cursor: move;
  }
}


.cdk-drag-placeholder {
  opacity: 0.2;
  width: 350px;
  border: 5px dashed gray;
  margin: 0 10px;
  
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}


.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px gray dashed;
  width: 80%;
  padding: 2rem;
}