.login_section{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.login_btn_logo{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;

}

.user_avatar{
    border-radius: 50%;
}