<main>
    <div *ngIf="!(afAuth.authState | async)" class="login_section">

        <button mat-raised-button appGoogleSignin class="login_btn"><img class="login_btn_logo"
                src="../../../assets/image/google_logo.png">Sign In with Google</button>
        <br>
        <h4 class="method_splitter">OR</h4>
        <br>
        <app-email-login></app-email-login>
    </div>

    <div *ngIf="(afAuth.authState | async) as user" class="login_section">
        <img src="{{user.photoURL}}" *ngIf="user.photoURL" class="user_avatar">
        <h2>You are now logged in</h2>
        <h2 *ngIf="user.displayName">as {{user.displayName}}</h2>
        <h3>{{user.email}}</h3>
        <button mat-stroked-button color="accent" (click)="afAuth.signOut()">Log out</button>
    </div>
</main>