<mat-card>
    <!-- bind the attribute [formGroup] to to the "form" state defined in TS -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login_form_container">

        <button mat-stroked-button color="primary" (click)="changeLoginType('signup')" *ngIf="isLogin">First Time Here?</button>
        <button mat-stroked-button color="accent" (click)="changeLoginType('login')" *ngIf="!isLogin">Want to login?</button>

        <mat-form-field [color]="emailState?.valid && 'accent'" class="login_form_field">
            <input
                matInput
                formControlName="email"
                type="email"
                placeholder="Email"
                autocomplete="off"
            />
            <mat-error *ngIf="emailState?.invalid && emailState?.dirty">
                Invalid Email.
            </mat-error>
        </mat-form-field>

        <mat-form-field [color]="passwordState?.valid && 'accent'" *ngIf="!isReset" class="login_form_field">
            <input
                matInput
                formControlName="password"
                type="password"
                placeholder="Password"
                autocomplete="off"
            />
            <mat-error *ngIf="passwordState?.invalid && passwordState?.dirty">
                Invalid Password.
            </mat-error>
        </mat-form-field>

        <mat-form-field [color]="passwordDoesMatch ? 'accent' : 'warn' " *ngIf="isSignup" class="login_form_field">
            <input
                matInput
                formControlName="passwordConfirm"
                type="password"
                placeholder="Re-enter the password to confirm"
                autocomplete="off"
            />
            <mat-error *ngIf="!passwordDoesMatch && passwordConfirmState?.dirty">
                Password does not match.
            </mat-error>
        </mat-form-field>

        <mat-error class="server-error">{{ serverMessage }}</mat-error>
        
        <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || !passwordDoesMatch || isLoadingState"
        >
            Submit
        </button>

        <button mat-button color="warn" *ngIf="isLogin" (click)="changeLoginType('reset')">Forget Your Password?</button>
    </form>
</mat-card>