
   
.content {
    overflow: hidden;
    height: auto;
    padding: 20px;
    width: 100%;
}

mat-form-field {
    width: 100%;
  }

textarea { display: block; width: 100%; }

.blue { color: #71deff; }
.green { color: #36e9b6; }
.yellow { color: #ffcf44; }
.purple { color: #b15cff; }
.gray { color: gray; }
.red { color: #e74a4a; }