
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$ngKanBanPrimary : (
  50 : #ebf2ff,
  100 : #cedfff,
  200 : #aecaff,
  300 : #8db5ff,
  400 : #74a5ff,
  500 : #5c95ff,
  600 : #548dff,
  700 : #4a82ff,
  800 : #4178ff,
  900 : #3067ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #dbe4ff,
  A700 : #c2d1ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$ngKanBanAccent: (
    50 : #fbece9,
    100 : #f5d1c8,
    200 : #efb2a4,
    300 : #e89380,
    400 : #e37b64,
    500 : #de6449,
    600 : #da5c42,
    700 : #d55239,
    800 : #d14831,
    900 : #c83621,
    A100 : #ffffff,
    A200 : #ffd4cf,
    A400 : #ffa69c,
    A700 : #ff9082,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngKanBan-primary: mat.define-palette($ngKanBanPrimary);
$ngKanBan-accent: mat.define-palette($ngKanBanAccent);

// The warn palette is optional (defaults to red).
$ngKanBan-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ngKanBan-theme: mat.define-dark-theme((
  color: (
    primary: $ngKanBan-primary,
    accent: $ngKanBan-accent,
    warn: $ngKanBan-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ngKanBan-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
