<mat-card class="out-card">
    <mat-card-header>
        <!-- the drag handle from the parent component -->
        <ng-content></ng-content>
        <mat-card-title>
            {{board.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{board.id}}
        </mat-card-subtitle>
    </mat-card-header>
    <div
        class="tasks"
        cdkDropList
        cdkDropListOrientation="vertical"
        (cdkDropListDropped)="taskDrop($event)"
    >
        <div
            class="inner-card"
            cdkDrag
            *ngFor="let task of board.tasks ; let i = index"
            (click)="openDialog(task, i)"
        >
            <mat-card
                [ngClass]="task.label"
            >
                {{task.description}}
                <mat-card-subtitle class="task_created_at_timestamp">
                    <mat-icon class="task_created_at_timestamp_icon">access_time</mat-icon> {{task.createdAt}}
                </mat-card-subtitle>
            </mat-card>
        </div>
        <button mat-stroked-button (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>

        <app-delete-button (delete)="handleDelete()"></app-delete-button>
    </div>
</mat-card>